<section class="whiteBox">
    <div class="row">
        <div class="col-12">
            <h2 class="h2 headUnder">Icon Designs</h2>
        </div>  
    </div>
    <div class="row">
    <div class="col-12 example-button-row">
        <span class="material-icons icons"> check_circle_outline </span> 
        <span class="material-icons icons"> delete </span> 
        <span class="material-icons icons"> create </span> 
        <span class="material-icons icons"> link </span> 
        <span class="material-icons icons"> done </span> 
        <span class="material-icons icons"> highlight_off </span> 
        <span class="material-icons icons"> important_devices </span>
        <span class="material-icons icons"> payment </span> 
        <span class="material-icons icons"> print </span> 
        <span class="material-icons icons"> visibility </span>
        <span class="material-icons icons"> account_circle </span>
        <span class="material-icons icons"> announcement </span> 
        <span class="material-icons icons"> bookmarks </span>
        <span class="material-icons icons"> backup </span>
        <span class="material-icons icons"> assignment </span> 
        <span class="material-icons icons"> assessment </span>
        <span class="material-icons icons"> cached </span> 
        <span class="material-icons icons"> build </span>
        <button class="icons" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
        </button>
        <button class="icons" mat-icon-button>
        <mat-icon>home</mat-icon>
        </button>
        <button class="icons" mat-icon-button>
        <mat-icon>menu</mat-icon>
        </button>
        <button class="icons" mat-icon-button>
        <mat-icon>favorite</mat-icon>
        </button>
        <button class="icons" mat-icon-button>
        <mat-icon>delete</mat-icon>
        </button>
    </div>
    </div>   
</section>
