<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card sender-detail">
                <div class="card-header">
                    <h5 class="text-white">Sender Details</h5>
                </div>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home1">All Senders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1">Login</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="home1" class="tab-pane active"><br>
                            <!-- form start -->
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                                            </div>
                                            <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Enter mobile">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="email" id="input2-group1" name="input2-group1" class="form-control" placeholder="Email" autocomplete="email">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-euro"></i></span>
                                            </div>
                                            <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="..">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                            <!-- form End -->
                        </div>
                        <div id="menu1" class="tab-pane fade"><br>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                                        </div>
                                        <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Enter Mobile No.">
                                    </div>
                                    <div class="card-footer text-right">
                                        <button type="submit" class="btn btn-sm btn-success ">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>










                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card sender-detail">
                <div class="card-header">
                    <h5 class="text-white">Beneficiary Details</h5>
                </div>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home2">Add New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Existing</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="home2" class="tab-pane active"><br>
                            <!-- form start -->
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            </div>
                                            <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Enter mobile">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="menu2" class="tab-pane fade"><br>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Search Beneficiary">
                                    </div>
                                    <div class="card-footer text-right">
                                        <button type="submit" class="btn btn-sm btn-success ">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card sender-detail">
                <div class="card-header">
                    <h5 class="text-white">Transaction Details</h5>
                </div>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home3">IMPS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">NEFT</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="home3" class="tab-pane active"><br>
                            <!-- form start -->
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group">
                                                <h6>Monthly Transfer Limit:<i class="fa fa-inr"></i> </h6>
                                            </div>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-inr"></i></span>
                                            </div>
                                            <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Enter Amount to Transfer">
                                        </div>
                                        <div class="card-footer text-center">
                                            <button type="submit" class="btn btn-md btn-success ">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="email" id="input2-group1" name="input2-group1" class="form-control" placeholder="Email" autocomplete="email">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                <!-- <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-euro"></i></span>
                                                </div>
                                                <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="..">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                            </form>
                            <!-- form End -->
                        </div>
                        <div id="menu3" class="tab-pane fade"><br>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group">
                                            <h6>Monthly Transfer Limit:<i class="fa fa-inr"></i> </h6>
                                        </div>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-inr"></i></span>
                                        </div>
                                        <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Enter Amount to Transfer">
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-md btn-success ">Confirm</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>










                </div>



            </div>

        </div>

    </div>

</div>