<section class="whiteBox">
    <div class="row">
        <div class="col-12">
            <h2 class="h2 headUnder">Card Designs</h2>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card customCard">
            <h4 class="h4 headUnderSmall">Card Title</h4>
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="card customCard">
            <h4 class="h4 headUnderSmall">Card Title</h4>
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="card customCard">
            <h4 class="h4 headUnderSmall">Card Title</h4>
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="card customCard blueBg">
            <h4 class="h4 white_txt text-uppercase">Card Title</h4>
            <p class="mb-0 white_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="card customCard brownBg">
            <h4 class="h4 white_txt text-uppercase">Card Title</h4>
            <p class="mb-0 white_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="card customCard pinkBg">
            <h4 class="h4 white_txt text-uppercase">Card Title</h4>
            <p class="mb-0 white_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card customCard">
            <h3 class="h3 headUnder">Card Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960.</p>
          </div>
        </div> 
        <div class="col-md-6">
          <div class="card customCard">
            <h3 class="h3 headUnder">Card Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960.</p>
          </div>
        </div>  
    </div>
    
</section>