<form>
    <div class="row ">
        <div class="col-md-6">
            <div class="row p-b-10">
                <div class="col-md-8">
                    <div class="floating-form">
                        <div class="floating-label">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                              <i class="fa fa-bank"></i>
                            </span>
                                </div>

                                <select class="floating-select form-control">     

                                    <option selected> Select Device Type </option></select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-b-10">
                <div class="col-md-8">
                    <div class="floating-form">
                        <div class="floating-label">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                            <i class="fa fa-credit-card"></i>
                          </span>
                                </div>
                                <input class="floating-input form-control" placeholder="Enter AADHAR Number/VIRTUAL ID " required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row m-t-10 p-b-10">
                <div class="col-md-8">
                    <div class="floating-form">
                        <div class="floating-label">
                            <label>Select your Bank</label>
                            <div class="input-group">
                                <div class="input-group-prepend">

                                    <span class="input-group-text">
                          <i class="fa fa-bank"></i>
                        </span>
                                </div>
                                <select class="floating-select form-control" formControlName="bankName">
                                    <option selected> Select your Bank</option>
                      </select>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row p-b-10">
                <div class="col-md-8 floating-form">
                    <div class="floating-label">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                          <i class="fa fa-mobile"></i>
                        </span>
                            </div>
                            <input class="floating-input form-control" formControlName="mobileNumber" placeholder=" Enter Mobile Number">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row ">

                <label class="form-label m-l-20">
                   
                    Customer Clause: a. I, the Customer hereby authorizes the Bank store my AADHAR number and to
                    fetch,
                    authenticate and store all such necessary details retrieved or to be retrieved from UIDAI through
                    AADHAR Number. Show moreCustomer Clause: a. I, the Customer hereby authorizes the Bank store my
                    AADHAR number and to fetch, authenticate and store all such necessary details retrieved or to be
                    retrieved from UIDAI through AADHAR Number.
                    <a href="#">Show more</a>
                  </label>

            </div>
            <div class="row m-t-10">
                <div class="col-md-12 ">
                    <div class="text-center text-white">
                        <input class="btn btn-success" placeholder="Scan Fingerprint">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="f-12 m-t-10">Please read advisory carefully while doing AEPS transaction <a href="#">Read
                      More</a></span>
                </div>
            </div>

        </div>


        <div class="col-md-6">
            <img src="../../../assets/images/001.png" width="100%" class="border">
        </div>




    </div>
</form>