<section class="whiteBox">
    <div class="row">
        <div class="col-12">
            <mat-tab-group class="boxTab" mat-align-tabs="left"  animationDuration="0ms">
                <mat-tab label="Agent Management">
                    <app-agent-management></app-agent-management>
                </mat-tab>
                <mat-tab label="Distributor Management">
                    <app-distributor-management></app-distributor-management>
                </mat-tab>
                <mat-tab label="Aggregator Management">
                    <app-partner-management></app-partner-management>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>