<div class="row mt-4">
    <div class="col-12">
        <h2 class="h2 headUnder mobBtnAlign">Markup Settings</h2>
        <div class="position-absolute topBtn">
          <button class="btns blueBtn btnSmall" mat-raised-button>Exception User List</button>
        </div>
    </div>
</div>
<form>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Select User*</mat-label>
        <mat-select>
          <mat-option value="option">Agent</mat-option>
          <mat-option value="option">Distributor</mat-option>
          <mat-option value="option" selected>Aggregator</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Select Service Type*</mat-label>
        <mat-select>
          <mat-option value="option" selected>Bus</mat-option>
          <mat-option value="option">Flight</mat-option>
          <mat-option value="option">Hotel</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Amount Type*</mat-label>
        <mat-select>
          <mat-option value="option" selected>Minimum</mat-option>
          <mat-option value="option">Maximum</mat-option>
          <mat-option value="option">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-4">
        <mat-form-field appearance="outline">
            <mat-label>Enter Amount</mat-label>
            <input matInput placeholder="Enter Amount" required>
        </mat-form-field>  
    </div>
    <div class="col-lg-3 col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Remarks</mat-label>
        <input matInput placeholder="Remarks" required>
      </mat-form-field>  
    </div>
    <div class="col-lg-3 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Date of Applicability*</mat-label>
          <input matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>  
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="customInput position-relative">
        <input type="file" class="custom-file-input" id="customFile" name="filename">
        <label class="custom-file-label" for="customFile">Upload Docs as Proof*</label>
      </div> 
    </div>
  </div>
  <div class="row mt-4 mt-md-0">
    <div class="col-12 d-flex justify-content-between">
      <button class="btns greenBtn float-right d-block d-md-none" mat-raised-button>Submit</button>
      <a class="btns greenBtn btnSmall" style="height: 36px;" href="#" mat-raised-button><i class="fa fa-table" aria-hidden="true"></i> Export to Excel</a>
      <button class="btns greenBtn float-right d-none d-md-block" mat-raised-button>Submit</button>
    </div>
  </div>
</form>
<div class="row">
    <div class="col-12">
      <div class="table-responsive markupTbl mt-4">
        <table mat-table [dataSource]="dataSource" class="table customTable shadow-none mb-0">
          <!-- Position Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> S.No </th>
            <td mat-cell *matCellDef="let element"> {{element.no}} </td>
          </ng-container>
        
          <ng-container matColumnDef="requested_date">
            <th mat-header-cell *matHeaderCellDef> Requested Date</th>
            <td mat-cell *matCellDef="let element"> {{element.requested_date}} </td>
          </ng-container>              
          <ng-container matColumnDef="txn_id">
            <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
            <td mat-cell *matCellDef="let element"> {{element.txn_id}} </td>
          </ng-container>
  
          <ng-container matColumnDef="user_type">
            <th mat-header-cell *matHeaderCellDef>User Type</th>
            <td mat-cell *matCellDef="let element"> {{element.user_type}} </td>
          </ng-container>
  
          <ng-container matColumnDef="crieteria">
            <th mat-header-cell *matHeaderCellDef> Service Type</th>
            <td mat-cell *matCellDef="let element"> {{element.crieteria}} </td>
          </ng-container>

          <ng-container matColumnDef="amount_slabs">
            <th mat-header-cell *matHeaderCellDef>Amount Type</th>
            <td mat-cell *matCellDef="let element"> {{element.amount_slabs}} </td>
          </ng-container>
  
          <ng-container matColumnDef="previous_value">
            <th mat-header-cell *matHeaderCellDef>Previous Value</th>
            <td mat-cell *matCellDef="let element"> {{element.previous_value}} </td>
          </ng-container>

          <ng-container matColumnDef="updated_value">
            <th mat-header-cell *matHeaderCellDef>Updated Value</th>
            <td mat-cell *matCellDef="let element"> {{element.previous_value}} </td>
          </ng-container>
          <ng-container matColumnDef="transaction_status">
            <th mat-header-cell *matHeaderCellDef>Transaction Status</th>
            <td mat-cell *matCellDef="let element"> {{element.transaction_status}} </td>
          </ng-container>
  
          <ng-container matColumnDef="updated_by">
            <th mat-header-cell *matHeaderCellDef>Updated By</th>
            <td mat-cell *matCellDef="let element"> {{element.updated_by}} </td>
          </ng-container>
          <ng-container matColumnDef="ip_address">
            <th mat-header-cell *matHeaderCellDef>IP Address</th>
            <td mat-cell *matCellDef="let element"> {{element.ip_address}} </td>
          </ng-container>
          
          <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef>Remarks</th>
            <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
          </ng-container>
          
          <ng-container matColumnDef="download_proof">
            <th mat-header-cell *matHeaderCellDef>Download Proof</th>
            <td class="downloadIcon" mat-cell *matCellDef="let element"> {{element.download_proof}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>   
      </div>
      
        <mat-paginator  [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>       
    </div>  
</div>