<section class="whiteBox">
    <div class="row mt-2">
        <div class="col-12">
             <h2 class="h2 headUnder mobBtnAlign">Transaction Summary List</h2>
            <div class="position-absolute topBtn">
                <a class="btns greenBtn btnSmall" href="#" mat-raised-button><i class="fa fa-table" aria-hidden="true"></i> Export to Excel</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Search By Agent Id</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3 mt-2">
          <button class="btns primaryBtn" mat-raised-button>Search</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive transactionTbl mt-4 mt-md-0">
            <table mat-table [dataSource]="dataSource" class="table customTable shadow-none mb-0">
              <!-- Position Column -->
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> S.No </th>
                <td mat-cell *matCellDef="let element"> {{element.no}} </td>
              </ng-container>
            
              <ng-container matColumnDef="agent_id">
                <th mat-header-cell *matHeaderCellDef> Agent Id </th>
                <td mat-cell *matCellDef="let element"> {{element.agent_id}} </td>
              </ng-container>              
              <ng-container matColumnDef="transaction_date">
                <th mat-header-cell *matHeaderCellDef>Transaction Date & Time</th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_date}} </td>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="transaction_id">
                <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_id}} </td>
              </ng-container>
      
              <ng-container matColumnDef="ref_no">
                <th mat-header-cell *matHeaderCellDef>Reference No</th>
                <td mat-cell *matCellDef="let element"> {{element.ref_no}} </td>
              </ng-container>
      
              <ng-container matColumnDef="amount_processed">
                <th mat-header-cell *matHeaderCellDef> Amount Processed <i class="fa fa-inr"></i></th>
                <td mat-cell *matCellDef="let element"> {{element.amount_processed}} </td>
              </ng-container>
      
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              </ng-container>
      
              <ng-container matColumnDef="tansaction_status">
                <th mat-header-cell *matHeaderCellDef>Transaction Status</th>
                <td mat-cell *matCellDef="let element"> {{element.tansaction_status}} </td>
              </ng-container>
      
              <ng-container matColumnDef="transaction_remarks">
                <th mat-header-cell *matHeaderCellDef>Transaction Remarks</th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_remarks}} </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>   
          </div>
          
            <mat-paginator  [length]="100"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>       
        </div>  
      </div>    
</section>