
<div class="container">
  <!-- Nav tabs -->
 <ul class="nav nav-tabs" role="tablist">
   <li class="nav-item">
     <a class="nav-link active text-center" data-toggle="tab" href="#TDS">TDS SettingGST <br> Setting</a>
   </li>
   <li class="nav-item">
     <a class="nav-link text-center" data-toggle="tab" href="#GST">GST Setting<br>&nbsp;</a>
   </li>
   <li class="nav-item">
     <a class="nav-link text-center" data-toggle="tab" href="#IncentivetoBank">Incentive To Wallet <br>(Min & Max Amount)</a>
   </li>
   <li class="nav-item">
     <a class="nav-link text-center" data-toggle="tab" href="#Incentive">Incentive To Bank <br>(Min & Max Amount)</a>
   </li>
   <li class="nav-item">
     <a class="nav-link text-center" data-toggle="tab" href="#Wallet">Wallet to Bank <br>(Min & Max Amount)</a>
   </li>
   <li class="nav-item">
     <a class="nav-link text-center" data-toggle="tab" href="#ITW">Incentive To Wallet<br> (Charges)</a>
   </li>
   <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tab" href="#ITB">Incentive To Bank <br>(Charges)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tab" href="#WTB">Wallet to Bank <br>(Charges)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tab" href="#Markup">Markup Settings<br>&nbsp; </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tab" href="#Domain">Domain Settings<br>&nbsp;</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tab" href="#System">System Settings<br>&nbsp;</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tab" href="#Report">Report Settings<br>&nbsp;</a>
  </li>
 </ul>

 <!-- Tab panes -->
 <div class="tab-content">
   <div id="TDS" class="container tab-pane active"><br>
     <h3>HOME</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
   <div id="GST" class="container tab-pane fade"><br>
     <h3>Menu 1</h3>
     <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
   </div>
   <div id="IncentivetoBank" class="container tab-pane fade"><br>
     <h3>Menu 2</h3>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
   </div>

   <div id="Incentive" class="container tab-pane fade"><br>
     <h3>HOME</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
   <div id="Wallet" class="container tab-pane fade"><br>
     <h3>Menu 1</h3>
     <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
   </div>
   <div id="ITW" class="container tab-pane fade"><br>
     <h3>Menu 2</h3>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
   </div>
   <div id="ITB" class="container tab-pane fade"><br>
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
  <div id="WTB" class="container tab-pane fade"><br>
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
  <div id="Markup" class="container tab-pane fade"><br>
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
  <div id="Domain" class="container tab-pane fade"><br>
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
  <div id="System" class="container tab-pane fade"><br>
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
  <div id="Report" class="container tab-pane fade"><br>
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
 </div>
</div>
