<div class="container m-t-10">
    <div class="card register">
        <div class="card-header">
            <h5 class="m-b-0">Agent Profile</h5>
        </div>
        <div class="card-body" style="background-color: #9c9fa9;">
            <div class="row" style="margin-bottom:10px">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                    <div id="leftPanel">
                        <div class="profile-pic border">
                            <img src="assets/images/user2.png" height="120" width="120">
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                    <div class="row m-t-30">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <p>Agent Type <br></p>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <p>Agent ID * <br></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row m-t-10">
                <div class="col-lg-12 f-12">

                    <div class="card ">
                        <div class="card-header">
                            <h5 class="m-b-0">Agent General Information</h5>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Name of Agent <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Gender <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>DOB (as per in PAN Card) <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>PAN Card No. <br></p>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Email Address<br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Mobile Number <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Education <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Name of Establishment <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 f-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-b-0">Residential Address <span class="f-13">(as per Address Proof)</span></h5>
                        </div>
                        <div class="card-body ">
                            <div class="row m-t-10">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Address Line 1 <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Address Line 2 <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Address Line 3 <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>City <br></p>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>District <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>State <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Country <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p> Pincode <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-b-0">Outlet Address </h5>
                        </div>
                        <div class="card-body f-12">
                            <div class="row m-t-10">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Address Line 1 <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Address Line 2 <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Address Line 3 <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>City <br></p>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>District <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>State <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Country <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p> Pincode <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 f-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-b-0">Banking Information </h5>
                        </div>
                        <div class="card-body ">
                            <div class="row m-t-10">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p> Account Name <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p> Account Number <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p> Name of Bank <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Branch Address <br></p>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>IFSC Code <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Type of Account <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 f-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-b-0">Other Information</h5>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Religion </p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Marital Status <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Family Income (Yearly) <br></p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Nature of Business <br></p>

                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 floating-form">
                                    <p>Expected Business / Month <br></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 f-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-b-0">Agent KYC Details</h5>
                        </div>
                        <div class="card-body ">
                            <div class="row m-b-10">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="profile-pic border">
                                                <img src="assets/images/user1.png" height="60" width="60">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="m-t-10">Identity Proof<br>
                                                <span class=" f-16">PAN Card</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="profile-pic border">
                                                <img src="assets/images/user1.png" height="60" width="60">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="m-t-10">Address Proof<br>
                                                <span class=" f-16"> Voter ID </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="profile-pic border">
                                                <img src="assets/images/user1.png" height="60" width="60">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="m-t-10">Photograph of Outlet <br>
                                                <span class=" f-16"> img1.png </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <form class="form-horizontal m-b-20 text-right">
          <div class="form-action-btn">
            <button type="submit" class="btn btn-success buttons m-l-10">Save</button>
            <button type="submit" class="btn btn-secondary buttons m-l-10">Reset</button>
            <button type="submit" class="btn btn-primary buttons m-l-10">Submit</button>
          </div>
        </form> -->
        </div>
    </div>
</div>