<div class="container m-t-20">
    <div class="card">
        <div class="card-body">

            <form>
                <div class="row">
                    <div class="col-md-4">

                        <div class="row m-t-10">
                            <div class="col-md-12 floating-form">
                                <div class="floating-label">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                          <i class="fa fa-mobile"></i>
                        </span>
                                        </div>
                                        <input class="floating-input form-control" placeholder="Enter Mobile Number ">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row p-b-10 ">
                            <div class="col-md-12">
                                <div class="floating-form">
                                    <div class="floating-label">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                            <i class="fa fa  fa-cog"></i>
                          </span>
                                            </div>
                                            <select class="floating-select form-control">
                                                <option selected> Select your Operator</option>
                          </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row p-b-10">
                            <div class="col-md-12">
                                <div class="floating-form ">
                                    <div class="floating-label">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                            <i class="fa fa-bank"></i>
                          </span>
                                            </div>
                                            <select class="floating-select form-control" placeholder="Select Your state">
                                                <option selected> Select your State</option>                         
                        </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t-10">
                            <div class="col-md-12 floating-form">
                                <div class="floating-label">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                          <i class="fa fa-rupee "></i>
                        </span>
                                        </div>
                                        <input class="floating-input form-control" formControlName="amount" placeholder="Enter Amount ">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <button class="btn btn-secondary">Clear</button>
                            <button class="btn btn-success m-l-10">Recharge</button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img src="../../../assets/images/001.png" width="100%" class="border">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>