<section class="whiteBox">
  <div class="row">
      <div class="col-12">
          <mat-tab-group class="boxTab" mat-align-tabs="left"  animationDuration="0ms">
              <mat-tab label="TDS Settings">
                <app-tds-settings></app-tds-settings>
              </mat-tab>
              <mat-tab label="GST Settings">
                <app-gst-settings></app-gst-settings>
              </mat-tab>
			        <mat-tab label="Incentive to Wallet Settings">
                <app-incentive-to-wallet-settings></app-incentive-to-wallet-settings>
              </mat-tab>
			        <mat-tab label="Incentive to Bank Settings">
                <app-incentive-to-bank-settings> </app-incentive-to-bank-settings>
              </mat-tab>
              <mat-tab label="Wallet to Bank Settings">
                <app-wallet-to-bank></app-wallet-to-bank>
              </mat-tab>
              <mat-tab label="Domain Settings">
              </mat-tab>
              <mat-tab label="System Settings">
              </mat-tab>
              <mat-tab label="Reports Settings">
              </mat-tab>
              <mat-tab label="Profile Settings">
              </mat-tab>
              <mat-tab label="Markup Settings">
                <app-markup-settings></app-markup-settings>
              </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</section>
