<div class="container-fluid">

    <div class="animated fadeIn">



        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card ">
                    <div class="text-white bg-primary">
                        <div class="card-body">
                            <div class="text-center">

                                <img src="assets/icon/cash inquiry.png" alt="user" width="73">

                                <!-- <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div> -->
                            </div>
                            <div class="h5 text-white text-center ">
                                <h5>Balance-Enquiry<br><br></h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class=" text-white bgcolor4">
                        <div class="card-body">
                            <div class="text-center">

                                <img src="assets/icon/cash-withdrawal.png" alt="user" width="60">

                                <!-- <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div> -->
                            </div>
                            <div class="h5 text-white text-center ">
                                <h5>Cash-Withdraw <br><br></h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
            </div>


            <!--/.col-->
            <div class="col-sm-6 col-md-3">
                <div class="card ">
                    <div class="text-white bgcolor3">
                        <div class="card-body">
                            <div class="text-center">

                                <img src="assets/icon/money transfer.png" alt="user" width="60">

                                <!-- <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div> -->
                            </div>
                            <div class="h5 text-white text-center ">
                                <h5>Money Transfer<br><br></h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
            </div>


            <!--/.col-->
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class="text-white bgcolor5">
                        <div class="card-body">
                            <div class="text-center">

                                <img src="assets/icon/mobile-prepaid.png" alt="user" width="48">

                                <!-- <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div> -->
                            </div>
                            <div class="h5 text-white text-center ">
                                <h5>Mobile Prepaid<br><br></h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
            </div>

            <!--/.col-->
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class="text-white bgcolor2">
                        <div class="card-body">
                            <div class="text-center">

                                <img src="assets/icon/mobile-postpaid.png" alt="user" width="60">

                                <!-- <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div> -->
                            </div>
                            <div class="h5 text-white text-center ">
                                <h5>Mobile Postpaid <br> <br></h5>

                            </div>
                        </div>
                    </div>

                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
            </div>



            <!--/.col-->
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class="text-white bgcolor">
                        <div class="card-body">
                            <div class="text-center">

                                <img src="assets/icon/upi.png" alt="user" width="60">
                            </div>
                            <div class="h5 text-white text-center ">
                                <h5>Accept Payment <br>through UPI</h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
            </div>

            <!--/.col-->
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class="text-white bgcolor6 service-card">
                        <div class="card-body">
                            <div class="text-center ">

                                <img src="assets/icon/aadhaar-wikipedia.png" alt="user" width="93">

                                <!-- <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div> -->
                            </div>
                            <div class="h5 text-white text-center ">
                                <h5>Aadhar Pay<br><br></h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
            </div>


            <!--/.col-->
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class="text-white bgcolor1">
                        <div class="card-body">
                            <div class="text-center">

                                <img src="assets/icon/offer month.png" alt="user" width="60">

                                <!-- <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div> -->
                            </div>
                            <div class="h5 text-white text-center ">
                                <h5>Offer of the Month<br><br></h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
            </div>



        </div>
        <!--/.col-->
    </div>
    <!--/.row-->


</div>